@font-face {
    font-family: 'World Conflict';
    src: url('fonts/WorldConflict-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Superclaredon';
    src: url('fonts/Superclaredon-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    text-align: center;
}

header {
    padding: 20px 0;
}

#logo {
    width: 150px;
}

main {
    flex: 1;
    padding: 20px;
}

#planta-en-marcha {
    background-color: rgba(85, 85, 85, 0.8); /* Filtro de color sobre la imagen */
    padding: 40px;
    margin-bottom: 20px;
    font-family: 'World Conflict', sans-serif;
}

#planta-en-marcha h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #c9f000;
    text-transform: uppercase;
}

#contactButton {
    background-color: #c9f000;
    color: #000;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    font-family: 'Sukhumvit Set', sans-serif;
}

#contactButton:hover {
    background-color: #a8c800;
}

#sitio-en-construccion {
    font-size: 1.5em;
    margin-top: 20px;
    color: #c9f000;
    font-family: 'Superclaredon', serif;
}

footer {
    background-color: #444;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #c9f000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
